@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

a, p, h1, h2 {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


html {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
}

.game {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    border: solid 1px white;
    margin: 1em;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
}

.coin {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    justify-content: center;
}

.coin img {
    height: 100%;
}

#coin {
    font-family: 'Silkscreen', monospace;
    color: #f3f3f3;
    font-size: 2em;
}

.life {
    height: 5%;
    width: 100%;
    background-color: grey;
}

.health {
    height: 100%;
    width: 100%;
    background-color: red;
    float: left;
}

.nbEnemy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

#Enm-left {
    color: #f3f3f3;
    font-family: 'Silkscreen', monospace;
    font-size: 2em;
}

.nbEnemyLeft {
    font-family: 'Silkscreen', monospace;
    color: #f3f3f3;
    font-size: 2em;
}



.left {
    height: 100%;
    width: 50%;
    margin-left: 1em;
}

.btn-play {
    position: absolute;
    text-decoration: none;
    color: #f3f3f3;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Silkscreen', monospace;
    font-size: 3em;
    border: solid 2px #f3f3f3;
    padding: 3px;
}

.btn-play:hover {
    font-size: 3.3em;
    color: yellow;
    border: solid 2px yellow;
}

.btn-play-div {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-play-left {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
    color: #f3f3f3;
    font-family: 'Silkscreen', monospace;
    text-decoration: none;
    border: solid 1px #f3f3f3;
    padding: 5px;
}

#btn-play-left:hover {
    color: yellow;
    font-size: 2.2em;
    border: solid 1px yellow;
}

.AcheterVie {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-health {
    color: #f3f3f3;
    font-family: 'Silkscreen', monospace;
}

#plus-vie {
    color: #f3f3f3;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2em;
    margin-left: 1em;
    border: solid 1px #f3f3f3;
    padding: 0 6px;
}

.price-vie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-vie p {
    font-size: 2em;
}

.btm-vie {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Silkscreen', monospace;
}

.btm-vie p {
    margin: 0 1em;
    color: #f3f3f3;
}

.btm-vie img {
    height: 3em;
    margin: 0;
}